<!DOCTYPE html>
<html>
<head>
    <title>Error Page</title>
    <style>
        body {
            background-color: #27374D;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90vh;
        }

        .error-container {
            text-align: center;
        }

        h1 {
            color: #B3B3B3;
            font-size: 32px;
        }

        p {
            color: #B3B3B3;
            font-size: 18px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="error-container">
        <h1>Error</h1>
        <p>No data available for the specified ticker symbol.</p>
    </div>
</body>
</html>
